<div class="row full">
  <div class="col l6 m6 s12 full mainDiv addShadow separator" [ngClass]="{'separator-dark':darkMode}">    
    <div class="image-div"><img src="assets/me.jpg" alt="Profile" class="profile"></div>
    <div class="info">
      <div class="name" [ngClass]="{'name-dark':darkMode}">Vatsal Kandoi</div>
      <div class="occupation" [ngClass]="{'occupation-dark':darkMode}">Student | VIT University</div>
      <div class="social-icons" [ngClass]="{'social-icons-dark':darkMode}">
        <div class="icon-social"><a class="icon-link tooltipped" data-position="top" data-tooltip="Twitter profile" href="https://twitter.com/vatsal_kandoi" target="_blank"><i class="fab fa-twitter"></i></a></div>
        <div class="icon-social"><a class="icon-link tooltipped" data-position="top" data-tooltip="Facebook profile" href="https://www.facebook.com/batsal.kandoi" target="_blank"><i class="fab fa-facebook"></i></a></div>
        <div class="icon-social"><a class="icon-link tooltipped" data-position="top" data-tooltip="Github profile" href="https://github.com/vatsal-kandoi" target="_blank"><i class="fab fa-github"></i></a></div>
        <div class="icon-social"><a class="icon-link tooltipped" data-position="top" data-tooltip="Mail me" href="mailto:vatsalkandoi1998@gmail.com" target="_top"><i class="fas fa-envelope"></i></a></div>
        <div class="icon-social"><a class="icon-link tooltipped" data-position="top" data-tooltip="Linkedin profile" href="https://www.linkedin.com/in/vatsal-kandoi-74027217b/" target="_blank"><i class="fab fa-linkedin"></i></a></div>      
      </div>
      <div class="location" [ngClass]="{'location-dark':darkMode}"><i class="fas fa-map-marker-alt"></i> Kolkata | India</div>  
    </div>
  </div>
  <div class="col l6 m6 s12 full addShadow separator-left" [ngClass]="{'separator-left-dark':darkMode, 'color':darkMode}">
    <div class="about-me-header">ABOUT ME</div>
    <div class="about-me">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor corporis incidunt earum temporibus expedita laudantium eos maiores cumque harum! Eligendi ex veritatis quod quisquam, vitae dicta earum similique voluptas sapiente!</div>
    <div class="download-cv">
      <a class="download" [ngClass]="{'download-dark':darkMode}">DOWNLOAD RESUME <i class="fas fa-download" style="margin-left:5px;"></i></a>
    </div>
  </div>
</div>