<div class="container-fluid project-enc" style="text-align: center;">
    <span class="header">
        my past projects
    </span>
    <div class="container projects">
        <div class="project" *ngFor="let project of projects">
            <div class="show-tech">
            </div>
            <div class="date">
                {{ project.date }}
            </div>
            <div class="name">
                {{ project.name }}
            </div>
            <div class="for">
                {{ project.for }}
            </div>
            <div class="about">
                {{ project.about }}
            </div>

            <div class="icons">
                    <a class="icon" [ngClass]="{'hide':project.code == ''}" href="{{ project.code }}">
                        <i class="fas fa-code"></i>
                    </a>
                    <a href="" class="icon" [ngClass]="{'hide':project.code == ''}" href="{{ project.brochure }}">
                        <i class="fas fa-download"></i>
                    </a>
            </div>
        </div>
    </div>
</div>