<div class="container-fluid project-enc" style="text-align: center;">
    <span class="header">
        my past projects
    </span>
    <div class="container projects">
        <div class="project">
            <div class="show-tech">
                <div class="tech-header">
                    Tech Stack
                </div>
                <ul class="list">
                    <li>HTML5</li>
                    <li>HTML5</li>
                    <li>HTML5</li>
                    <li>HTML5</li>
                    <li>HTML5</li>
                </ul>
                <i class="fas show fa-layer-group"></i>
            </div>
            <div class="date">
                March 2019
            </div>
            <div class="name">
                Viking
            </div>
            <div class="for">
                Team UAV
            </div>
            <div class="about">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste quis veritatis dolorem, accusantiu
            </div>
            <div class="icons">
                    <a class="icon" href="">
                        <i class="fas fa-code"></i>
                    </a>
                    <a href="" class="icon">
                        <i class="fas fa-download"></i>
                    </a>
            </div>
        </div>
        <div class="project">
            <div class="show-tech">
                <div class="tech-header">
                    Tech Stack
                </div>
                <ul class="list">
                    <li>HTML5</li>
                    <li>HTML5</li>
                    <li>HTML5</li>
                    <li>HTML5</li>
                    <li>HTML5</li>
                </ul>
                <i class="fas show fa-layer-group"></i>
            </div>
            <div class="date">
                March 2019
            </div>
            <div class="name">
                Viking
            </div>
            <div class="for">
                Team UAV
            </div>
            <div class="about">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste quis veritatis dolorem, accusantiu
            </div>
            <div class="icons">
                    <a class="icon" href="">
                        <i class="fas fa-code"></i>
                    </a>
                    <a href="" class="icon">
                        <i class="fas fa-download"></i>
                    </a>
            </div>
        </div>
        <div class="project">
            <div class="show-tech">
                <div class="tech-header">
                    Tech Stack
                </div>
                <ul class="list">
                    <li>HTML5</li>
                    <li>HTML5</li>
                    <li>HTML5</li>
                    <li>HTML5</li>
                    <li>HTML5</li>
                </ul>
                <i class="fas show fa-layer-group"></i>
            </div>
            <div class="date">
                March 2019
            </div>
            <div class="name">
                Viking
            </div>
            <div class="for">
                Team UAV
            </div>
            <div class="about">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste quis veritatis dolorem, accusantiu
            </div>
            <div class="icons">
                    <a class="icon" href="">
                        <i class="fas fa-code"></i>
                    </a>
                    <a href="" class="icon">
                        <i class="fas fa-download"></i>
                    </a>
            </div>
        </div>
        <div class="project">
            <div class="show-tech">
                <div class="tech-header">
                    Tech Stack
                </div>
                <ul class="list">
                    <li>HTML5</li>
                    <li>HTML5</li>
                    <li>HTML5</li>
                    <li>HTML5</li>
                    <li>HTML5</li>
                </ul>
                <i class="fas show fa-layer-group"></i>
            </div>
            <div class="date">
                March 2019
            </div>
            <div class="name">
                Viking
            </div>
            <div class="for">
                Team UAV
            </div>
            <div class="about">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste quis veritatis dolorem, accusantiu
            </div>
            <div class="icons">
                    <a class="icon" href="">
                        <i class="fas fa-code"></i>
                    </a>
                    <a href="" class="icon">
                        <i class="fas fa-download"></i>
                    </a>
            </div>
        </div>
        <div class="project">
            <div class="show-tech">
                <div class="tech-header">
                    Tech Stack
                </div>
                <ul class="list">
                    <li>HTML5</li>
                    <li>HTML5</li>
                    <li>HTML5</li>
                    <li>HTML5</li>
                    <li>HTML5</li>
                </ul>
                <i class="fas show fa-layer-group"></i>
            </div>
            <div class="date">
                March 2019
            </div>
            <div class="name">
                Viking
            </div>
            <div class="for">
                Team UAV
            </div>
            <div class="about">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste quis veritatis dolorem, accusantiu
            </div>
            <div class="icons">
                    <a class="icon" href="">
                        <i class="fas fa-code"></i>
                    </a>
                    <a href="" class="icon">
                        <i class="fas fa-download"></i>
                    </a>
            </div>
        </div>
        <div class="project">
            <div class="show-tech">
                <div class="tech-header">
                    Tech Stack
                </div>
                <ul class="list">
                    <li>HTML5</li>
                    <li>HTML5</li>
                    <li>HTML5</li>
                    <li>HTML5</li>
                    <li>HTML5</li>
                </ul>
                <i class="fas show fa-layer-group"></i>
            </div>
            <div class="date">
                March 2019
            </div>
            <div class="name">
                Viking
            </div>
            <div class="for">
                Team UAV
            </div>
            <div class="about">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste quis veritatis dolorem, accusantiu
            </div>
            <div class="icons">
                    <a class="icon" href="">
                        <i class="fas fa-code"></i>
                    </a>
                    <a href="" class="icon">
                        <i class="fas fa-download"></i>
                    </a>
            </div>
        </div>
        <div class="project">
            <div class="show-tech">
                <div class="tech-header">
                    Tech Stack
                </div>
                <ul class="list">
                    <li>HTML5</li>
                    <li>HTML5</li>
                    <li>HTML5</li>
                    <li>HTML5</li>
                    <li>HTML5</li>
                </ul>
                <i class="fas show fa-layer-group"></i>
            </div>
            <div class="date">
                March 2019
            </div>
            <div class="name">
                Viking
            </div>
            <div class="for">
                Team UAV
            </div>
            <div class="about">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste quis veritatis dolorem, accusantiu
            </div>
            <div class="icons">
                    <a class="icon" href="">
                        <i class="fas fa-code"></i>
                    </a>
                    <a href="" class="icon">
                        <i class="fas fa-download"></i>
                    </a>
            </div>
        </div>
        <div class="project">
            <div class="show-tech">
                <div class="tech-header">
                    Tech Stack
                </div>
                <ul class="list">
                    <li>HTML5</li>
                    <li>HTML5</li>
                    <li>HTML5</li>
                    <li>HTML5</li>
                    <li>HTML5</li>
                </ul>
                <i class="fas show fa-layer-group"></i>
            </div>
            <div class="date">
                March 2019
            </div>
            <div class="name">
                Viking
            </div>
            <div class="for">
                Team UAV
            </div>
            <div class="about">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste quis veritatis dolorem, accusantiu
            </div>
            <div class="icons">
                    <a class="icon" href="">
                        <i class="fas fa-code"></i>
                    </a>
                    <a href="" class="icon">
                        <i class="fas fa-download"></i>
                    </a>
            </div>
        </div>
        <div class="project">
            <div class="show-tech">
                <div class="tech-header">
                    Tech Stack
                </div>
                <ul class="list">
                    <li>HTML5</li>
                    <li>HTML5</li>
                    <li>HTML5</li>
                    <li>HTML5</li>
                    <li>HTML5</li>
                </ul>
                <i class="fas show fa-layer-group"></i>
            </div>
            <div class="date">
                March 2019
            </div>
            <div class="name">
                Viking
            </div>
            <div class="for">
                Team UAV
            </div>
            <div class="about">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste quis veritatis dolorem, accusantiu
            </div>
            <div class="icons">
                    <a class="icon" href="">
                        <i class="fas fa-code"></i>
                    </a>
                    <a href="" class="icon">
                        <i class="fas fa-download"></i>
                    </a>
            </div>
        </div>
        <div class="project">
            <div class="show-tech">
                <div class="tech-header">
                    Tech Stack
                </div>
                <ul class="list">
                    <li>HTML5</li>
                    <li>HTML5</li>
                    <li>HTML5</li>
                    <li>HTML5</li>
                    <li>HTML5</li>
                </ul>
                <i class="fas show fa-layer-group"></i>
            </div>
            <div class="date">
                March 2019
            </div>
            <div class="name">
                Viking
            </div>
            <div class="for">
                Team UAV
            </div>
            <div class="about">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste quis veritatis dolorem, accusantiu
            </div>
            <div class="icons">
                    <a class="icon" href="">
                        <i class="fas fa-code"></i>
                    </a>
                    <a href="" class="icon">
                        <i class="fas fa-download"></i>
                    </a>
            </div>
        </div>
    </div>
</div>