<nav class="container-fluid navbar-container">
    <a class="brand" href="#">
        <img class="logo" src="assets/images/logo_transparent.png">
    </a>
    <div class="nav-items-options">        
        <div class="item-enc active" >
          <a class="item" href="/">work</a>
        </div>
        <div class="item-enc">
          <a class="item" href="/projects">projects</a>
        </div>
        <div class="item-enc">
          <a class="item" href="/skills">skills</a>
        </div>
        <div class="item-enc">
          <a class="item" href="/education">education</a>
        </div>
    </div>
  </nav>