<nav class="container-fluid navbar-container">
    <a class="brand" href="#">
        <img class="logo" src="assets/images/logo_transparent.png">
    </a>
    <div class="nav-items-options">        
        <div class="item-enc" routerLinkActive="active">
          <a class="item" routerLink="/">work</a>
        </div>
        <div class="item-enc" routerLinkActive="active">
          <a class="item" routerLink="/projects">projects</a>
        </div>
        <div class="item-enc" routerLinkActive="active">
          <a class="item" routerLink="/skills">skills</a>
        </div>
        <div class="item-enc" routerLinkActive="active">
          <a class="item" routerLink="/education">education</a>
        </div>
    </div>
  </nav>