<nav class="container-fluid navbar-container">
    <a class="brand" href="#">
        <img class="logo" src="assets/images/logo_transparent.png">
    </a>
    <div class="nav-items-options">
        <div class="item-enc">
          <a class="item" href="#">work</a>
        </div>
        <div class="item-enc">
          <a class="item" href="#">projects</a>
        </div>
        <div class="item-enc">
          <a class="item" href="#">skills</a>
        </div>
        <div class="item-enc">
          <a class="item" href="#">education</a>
        </div>
        <div class="item-enc">
          <a class="item" href="#">contact</a>
        </div>
    </div>
  </nav>