<div class="row">
  <div class="col s12">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="flex">
            <div class="row">
                <div class="col l5 s12 m10 offset-m1">
                    <div class="row">
                        <input type="text" class="col m5 s12 l12 input" [ngClass]="{'dark-input':darkMode}" placeholder="Enter name">
                        <input text="email" class="col m5 offset-m2 s12 l12 input" [ngClass]="{'dark-input':darkMode}" placeholder="Enter email">
                    </div>
                </div>
                <div class="col l6 offset-l1 s12 m10 offset-m1">
                    <div class="row">
                        <textarea class="textarea" [ngClass]="{'dark-textarea':darkMode}"></textarea>
                    </div>
                </div>
            </div>
            <button class="col s12 btn btn-primary" [ngClass]="{'success':darkMode}" >{{ formValue }}</button>
        </div>
      </form>
  </div>
</div>
