<div class="container-fluid" style="text-align: center;">
    <span class="header">Achievements</span>
    <div class="awards">
        <div class="award" *ngFor="let award of awards">
            <div class="date">
                {{ award.date }}
            </div>
            <div class="name">
                {{ award.name }}
            </div>
            <div class="for">
                {{ award.for }}
            </div>
            <div class="about">
                {{ award.about }}
            </div>
            <div class="icons">
                <a class="icon" [ngClass]="{'hide':award.code == ''}" href="{{ award.code }}">
                    <i class="fas fa-code"></i>
                </a>
                <a href="" class="icon" [ngClass]="{'hide':award.code == ''}" href="{{ award.brochure }}">
                    <i class="fas fa-download"></i>
                </a>
            </div>
    
        </div>

    </div>
</div>
