<div id="about" class="container-fluid about-enc" style="text-align: center;">
    <span class="header">
        About me
    </span>
    <div class="info container">
        <p>
            I am Vatsal Kandoi, a student of VIT University, who is passionate about software development and robotics. I have been working on developing websites since 2017, and have come a long way since, improving my code quality with each application. Alongside this, I have worked on numerous projects involving unmanned aerial vehicles, where I was responsible for integrating electronics and other peripherals with the main code. This gave me a chance to work with various microcontrollers.
        </p>
    </div>
</div>