<nav class="container-fluid navbar-container" [ngClass]="{'shadow': shadow}">
    <a class="brand" href="#">
        <img class="logo" src="assets/images/logo_transparent.png">
    </a>
    <div class="nav-items-options">        
        <a class="item-enc" routerLinkActive="active" [routerLink]="['']" [routerLinkActiveOptions]="{exact:true}" >work</a>
        <!-- <a class="item-enc" routerLinkActive="active" [routerLink]="['projects']">play</a> -->
        <a class="item-enc" routerLinkActive="active" [routerLink]="['education']">education</a>
      </div>
  </nav>