.logo{
    width: 80px;
}
.navbar-container{
    display: flex;
    height: 80px;
    top: 0;
    flex-direction: row;
    left: 0;
    position: fixed;
    z-index: 50;
    background-color: white;
    align-items: center;
    justify-content: space-between;
}
.shadow{
    box-shadow: 1px 2px 2.5px 0.5px rgba(0,0,0,0.6);
}
.brand{
    justify-self: flex-start;
}
.nav-items-options{
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    z-index: 2;
}
.item{
    font-weight: bold !important;
    color: black !important;
}
.item-enc{
    z-index: 3;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer !important;
    text-decoration: none;
    list-style: none;
    padding: 5px;
    color: black;
    font-weight: bold;
}
.item-enc:hover{
    border-bottom-color: #21d150 !important;
    border-bottom-style: solid !important;
    border-bottom-width: 3px !important;
}
.item-enc:focus{
    border-bottom-color: #21d150 !important;
    border-bottom-style: solid !important;
    border-bottom-width: 3px !important;
}
.active{
    border-bottom-color: #21d150 !important;
    border-bottom-style: solid !important;
    border-bottom-width: 3px !important;
}
@media only screen and (max-width: 300px) {
    .nav-items-options{
        display: none;
    }
}
