.shade{
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
}
.centerIt{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.main-component{
    position: relative;
    height: 300px;
    background-color: white;
}
.nav-bar-vert{
    position: absolute;
    display: flex;
    flex-direction: column;
    top:0;
    background-color: white;
    left:-55px;
}
@media only screen and (max-width:600px){
    .nav-bar-vert{
        top:-60px;
        left:0px;
        flex-direction: row;
    }
}
.nav-item-block{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
    color:inherit;
    cursor: pointer;
}
.nostyle{
    color:rgba(0, 0, 0, 0.87);
    outline: 0;
}
.nostyle:hover{
    color:#2cc19c
}
.nostyle:focus{
    color:#2cc19c
}
.active{
    color:#2cc19c;
}
.toggle-btn{
    position: absolute;
    top:10%;
    right:0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width:30px;
    height:30px;
    cursor: pointer;
}
.toggle-btn:hover{
    color:#FA292A;
}
.background{
    background-image: linear-gradient(to bottom right, #2cc19c, #7fffbf);
    background-color:#2cc19c;
    height: 100vh;
    width: 100%;
}
