<div class="container-fluid landing-page">
    <img src="assets/images/image.png" class="landing-page-image">
    <div class="landing-page-info">
        Hi! I'm <span class="landing-page-name">Vatsal,</span> currently studying at VIT University. Feel free to say hello
    </div>
    <div class="landing-btn-enclosure">
        <button class="btn btn-large button">Resume</button>
        <button class="btn btn-large button">Say hello</button>
    </div>
    <div class="down-arrow">&#x2304;</div>
</div>