.enc{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.item{
    margin: 10px;
    max-width: 200px;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    height: 200px;
    position: relative;
    background-color: rgb(250, 250, 250)
}
.item:hover .item-shadow{
    display: block;
}
.item-shadow{
    transition-duration: 1s;
    transition-property: all;
    border-radius: 5px;
    transition-timing-function: ease-out;
    display: none;
    position: absolute;
    top:0;
    left:0;
    height: 200px;
    cursor: pointer;
    width: 100%;
    background-color: rgba(212, 212, 212, 0.6);
}
.org-name{
    font-weight: bold;
    font-weight: 1.2rem;
}
.logo{
    max-width: 200px;
}
.header{
    font-size: 2rem;
    font-weight: bold;
    border-bottom-color: #21d150 !important;
    border-bottom-style: solid !important;
    border-bottom-width: 3px !important;
    padding-bottom: 5px;
}