<div class="container-fluid" style="text-align: center;">
    <span class="header">
        my past experiences
    </span>
    <div class="container exp-container">
        <div class="row">
            <div class="col-lg-2 date">02/2019 - 04/2019</div>
            <div class="col-lg-1 col-md-2 col-sm-2 col-2 timeline">
                <div class="circle">
                    <i class="fas fa-briefcase"></i>
                </div>
            </div>
            <div class="col-lg-8 col-md-10 col-sm-10 col-10 experience-enc">
                <div class="experience">
                    <div class="experience-header">
                        <div class="company">
                            Crio Launch
                        </div>
                        <div class="position">
                            <div class="position-info">
                                Developer
                            </div>
                            <div class="date-exp">
                                02/2019 - 04/2019
                            </div>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi a, sequi suscipit odio pariatur dolore ullam soluta quas facilis et repellat consectetur non delectus tempore maxime numquam eius, earum aperiam?</p>
                </div>
            </div>
        </div>
    </div>
</div>