<br>
<div class="container" style="text-align: center;">
    <span  class="header">organisations</span>
    <div class="enc">
        <div class="col item">
            <div class="item-shadow"></div>
            <img src="/assets/images/acm.png" class="logo" alt="ACM Logo">
        </div>
        <div class="col item">
            <div class="item-shadow"></div>
            <img src="/assets/images/uav.jpeg" class="logo" alt="Team UAV Logo">
        </div>
        <div class="col item">
            <div class="item-shadow"></div>
            <img src="/assets/images/lug.png" class="logo" alt="VITLUG Logo">
        </div>
    </div>
</div>