.navigator{
    position: relative;
}
.dark-navigator{
    color: white;
}
.nav-circles{
    position: absolute;
    top:calc(50% - 30px);
    left: 10px;
    display: flex;
    flex-direction: column;
}
.circle{
    width:10px;
    margin:5px auto;
    height:10px;
    cursor: pointer;
    border-radius: 50%;
    background-color:#2cc19c;
}
.dark-circle{
    background-color: #2cc12c
}
.fullHeight{
    height: 100%;
    padding: 0px;
}
.item{
    margin:5px auto;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.date{
    font-weight: bold;
    font-size: 12px;
    margin: 5px auto;
    text-align: center;
    padding:5px;
    padding-top:0;
}
.active{
    background-color: #FA292A;
}