*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
.background{
    background-image: linear-gradient(to bottom right, #2cc19c, #7fffbf);
    background-color:#2cc19c;
    height: 100vh;
    width: 100%;
}