<div class="container-fluid education-enc" style="padding-top:120px">
    <span class="header">
        education
    </span>
    <div class="row">
        <div class="education col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-10 offset-1" *ngFor="let education of educations">
            <div class="about">
                <div class="place">
                    <div class="name">{{ education.name }}</div>
                    <div class="city">{{ education.city }}</div>
                </div>
                <div class="date">
                    {{ education.date }}
                </div>
            </div>
            <div class="degree">
                {{ education.degree }}
            </div>
            <div class="info">
                {{ education.info }}
            </div>
        </div>
    </div>
</div>