<footer class="container-fluid footer-enc">
    <div class="footer">
        <div class="footer-item">
            <p>Hello, I'm <span class="footer-name">Vatsal,</span> a student of VIT University, passionate about software development and robotics. Working with the web, and also building autonomous aerial vehicles for the past two years have helped me shape my coding and logical skills
            </p>
            <div class="resume">View my resume &#8594;</div>

        </div>
        <div class="footer-social-item">
            <form id="submit">
                <div class="row">
                    <div class="col">
                    <input type="text" class="form-control" placeholder="First name" required>
                    </div>
                    <div class="col">
                    <input type="text" class="form-control" placeholder="Last name" required>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="you@email.com" required>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <textarea class="form-control" placeholder="Your message" required></textarea>
                    </div>
                </div>
                <br>
                <button class="btn btn-large button">Say hello</button>
            </form>
        </div>
        <div class="social-icons">
            <div class="social-text">Get in touch via</div>
            <div class="icons">
                <a class="icon"><i class="fab fa-twitter"></i></a>
                <a class="icon"><i class="fab fa-linkedin"></i></a>
                <a class="icon"><i class="fab fa-github"></i></a>
                <a class="icon"><i class="fab fa-facebook" ></i></a>
                <a class="icon"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
    </div>
    <div class="up-arrow"><i class="fas icon fa-chevron-up" (click)="scroll()"></i></div>
</footer>